In [1]:
import re

In [25]:
chat1='codebasics: Hello, I am having an issue with my order. my phone number is: 0201234567, abc@xyz.com'
chat2='codebasics: I have a problem with my order. my phone number is (020)-123-4567, abX_82@xyz.com'
chat3='codebasics: My order is having an issue,my phone number is : 0201234567 ,email: abc@xyz.com'

In [26]:
#pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
pattern = '[a-z0-9A-Z_]*@[a-zA-Z0-9]*\.[a-zA-Z]*'
matches = re.findall(pattern,chat2)
matches

['abX_82@xyz.com']

In [27]:
chat4='codebasics: Hello, I am having an issue with my order # 412889912'
chat5='codebasics: I have a problem with my order number 412889912'
chat6='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [31]:
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern,chat4)
matches

['412889912']

In [33]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [42]:
#pattern = 'age (\d+)'
#pattern = 'Born(.*)'
#pattern = 'Born.*\n(.*)\(age'
pattern = 'age.*\n(.*)'
matches = re.findall(pattern,text)
matches[0].strip()

'Pretoria, Transvaal, South Africa'

In [43]:
def get_match(pattern,text):
    matches = re.findall(pattern,text)
    if matches:
        return matches[0]

In [45]:
get_match('age.*\n(.*)',text)

'Pretoria, Transvaal, South Africa'

In [48]:
def extractPI(text):
    age = get_match('age (\d+)', text)
    full_name = get_match('Born(.*)\n', text)
    birth_date = get_match('Born.*\n(.*)\(age', text)
    birth_place = get_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [49]:
extractPI(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}